---
interface Props {
  title: string;
  subtitle: string;
  link: string;
}

const { title, subtitle, link } = Astro.props;
---

<div>
  <a href={link} class="link">
    <h4>
      {title}
    </h4>
  </a>
  <p class="font-normal text-[20px] leading-7 mt-1">{subtitle}</p>
</div>
