---
import { VISITED_COUNTRIES_SETTINGS } from "@/consts";
import { getCollection } from "astro:content";
import CountryCard from "./CountryCard.astro";
---

<section id="archived-projects" class="mt-11">
  <div class="flex justify-between py-[6px]">
    <h3 class="font-[700] text-[28px] leading-8">
      {VISITED_COUNTRIES_SETTINGS.title}
    </h3>
    <h3 class="font-normal text-[28px] leading-8 hidden md:block">
      {VISITED_COUNTRIES_SETTINGS.subtitle}
    </h3>
  </div>
  <ul class="mt-2 grid gap-2">
    {
      VISITED_COUNTRIES_SETTINGS.countries.map((country) => (
        <CountryCard country={country} />
      ))
    }
  </ul>
</section>
