---
import { INTRO_SETTINGS } from "@/consts";
---

<section id="intro" class="mt-11">
  <h2 class="header_primary">
    {INTRO_SETTINGS.title}
  </h2>
  <p class="mt-1 font-normal text-xl">
    {INTRO_SETTINGS.description}
  </p>
</section>
