---
import { INTRO_SETTINGS } from "@/consts";
---

<section id="intro" class="mt-11">
  <h3 class="font-[700] text-[28px] leading-8">
    {INTRO_SETTINGS.title}
  </h3>
  <p class="mt-1 font-normal text-xl">
    {INTRO_SETTINGS.description}
  </p>
</section>
