@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans.ttf") format("truetype");
}

@layer base {
  .typograpghy-text {
    @apply text-[20px] font-sans;
    line-height: 27.24px;
  }

  .text {
    @apply text-xl font-sans font-normal text-text-main-color;
    line-height: 27.24px;
  }
  .text_secondary {
    @apply text-xl font-sans font-normal text-text-main-color;
    line-height: 27.24px;
  }
  .menu_link_primary {
    @apply text-xl font-sans font-semibold text-text-main-color;
    line-height: 27.24px;
  }
  .menu_link_primary_pressed {
    @apply text-xl font-sans font-semibold text-text-main-color;
    line-height: 27.24px;
  }
  .header_primary {
    @apply text-[28px] font-sans font-bold text-text-main-color;
    line-height: 38.13px;
  }
  .header_secondary {
    @apply text-[28px] font-sans font-normal text-text-main-color;
    line-height: 38.13px;
  }
  .header_tertiary {
    @apply text-xl font-sans font-semibold text-text-main-color;
    line-height: 27.24px;
  }
  .header_logo {
    @apply text-[28px] font-sans font-extrabold text-text-main-color;
    line-height: 38.13px;
  }
  .text_404_error {
    @apply text-[128px] font-sans font-extrabold text-text-main-color;
    line-height: 174.31px;
  }
  .link {
    @apply text-link visited:text-link-visited-color hover:text-link-hover-color active:text-link-pressed-color underline text-xl;
  }
}
