---
import Column from "./Column.astro";
import { DAILY_SETTINGS } from "@/consts";
---

<section id="things" class="mt-11">
  <div class="flex justify-between py-[6px]">
    <h3 class="header_primary">{DAILY_SETTINGS.title}</h3>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-5 text-start gap-4">
    {
      DAILY_SETTINGS.columns.map((card) => (
        <Column title={card.title} items={card.items} />
      ))
    }
  </div>
</section>
