---
interface Props {
  title: string;
  description: string;
  link: string;
}

const { title, description, link } = Astro.props;
---

<li class="flex flex-col gap-2">
  <a href={link} class="link">
    <h4>
      {title}
    </h4>
  </a>
  <p class="font-normal text-[20px] leading-7">{description}</p>
</li>
