---
interface Props {
  title: string;
  description: string;
  link: string;
}

const { title, description, link } = Astro.props;
---

<li class="flex flex-col gap-1">
  <h4>
    <a href={link} class="link">
      {title}
    </a>
  </h4>
  <p class="font-normal text-[20px] leading-7">{description}</p>
</li>
