---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import Layout from "@/layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Header />
  <main class="h-full flex-1 flex flex-col items-center justify-center">
    <div class="font-extrabold text-[128px]">404</div>
  </main>
  <Footer />
</Layout>
