---
import Layout from "@/layouts/Layout.astro";

import Header from "@/components/Header.astro";
import IntroSection from "@/components/sections/Intro/IntroSection.astro";
import ThingsSection from "@/components/sections/things/ThingsSection.astro";
import MediaMentionsSection from "@/components/sections/media-mentions/MediaMentionsSection.astro";
import ArchivedProjectsSection from "@/components/sections/archived-projects/ArchivedProjectsSection.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import SelectedArticlesSection from "@/components/sections/selected-articles/SelectedArticlesSection.astro";
import VisitedCountriesSection from "@/components/sections/visited-countries/VisitedCountriesSection.astro";
import FavoritesSection from "@/components/sections/favorites/FavoritesSection.astro";
import DailySection from "@/components/sections/daily/DailySection.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Header />
  <main>
    <IntroSection />
    <ThingsSection />
    <MediaMentionsSection />
    <ArchivedProjectsSection />
    <SelectedArticlesSection />
    <VisitedCountriesSection />
    <FavoritesSection />
    <DailySection />
  </main>
  <Footer />
</Layout>
