---
import { MENU_ITEMS, SITE_TITLE } from "@/consts";
---

<div class="drawer drawer-end">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer-4" class="drawer-button cursor-pointer">
      <svg
        width="44"
        height="44"
        viewBox="0 0 24 24"
        class="ml-auto"
        xmlns="http://www.w3.org/2000/svg"
        ><path fill="currentColor" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z"
        ></path></svg
      >
    </label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <div
      class="p-4 z-50 w-full min-h-svh relative bg-transparent text-base-content"
    >
      <div class="flex justify-between mt-4">
        <h1 class="header_logo">
          <a href="/">{SITE_TITLE}</a>
        </h1>
        <label
          for="my-drawer-4"
          aria-label="close sidebar"
          class="text-[20px] shrink-0 w-1/6 p-2 cursor-pointer"
        >
          <svg
            width="30"
            height="30"
            class="ml-auto"
            viewBox="0 0 256 256"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill="currentColor"
              d="M208.49 191.51a12 12 0 0 1-17 17L128 145l-63.51 63.49a12 12 0 0 1-17-17L111 128L47.51 64.49a12 12 0 0 1 17-17L128 111l63.51-63.52a12 12 0 0 1 17 17L145 128Z"
            ></path></svg
          >
        </label>
      </div>
      <!-- Sidebar content here -->
      {
        MENU_ITEMS.map((item) => (
          <li class="list-none">
            <a href={item.link} class="link leading-7">
              {item.title}
            </a>
          </li>
        ))
      }
    </div>
  </div>
</div>

<script>
  let checkboxEl = document.querySelector("#my-drawer-4");
  let bodyEl = document.querySelector("body");

  checkboxEl?.addEventListener("change", function () {
    if (this.checked) {
      // Disable scrolling on iOS when drawer is open
      bodyEl?.addEventListener("touchmove", preventScroll, { passive: false });
    } else {
      // Re-enable scrolling when drawer is closed
      bodyEl?.removeEventListener("touchmove", preventScroll);
    }
  });

  function preventScroll(event) {
    event.preventDefault();
  }
</script>
